/*...................................fonts..................*/

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Marmelad-Regular;
    src: url(../fonts/Marmelad-Regular.ttf);
}
@font-face {
    font-family: Pacifico-Regular;
    src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: Arsenal-Regular;
    src: url(../fonts/Arsenal-Regular.ttf);
}

/*.............................main header................................*/

.main-header{
    border-radius: 0px;
    font-family: Roboto-Light;
    background:#2c8b8c;
    border: none;
    margin-bottom: 0px;
}
.main-header .navbar-nav>li>a{
    color: #ffffff;
}
.main-header .navbar-brand{
    font-family: Pacifico-Regular;
    font-size: 25px;
    color: #ffffff;
}
.navbar-brand{
    padding: 12px;
}
.main-header .dropdown {
    position: relative;
    display: inline-block;
}

.main-header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 0px;
    padding-left: 0;
}
.main-header .dropdown-content li{
    list-style: none;
}
.main-header .dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.main-header .dropdown-content a:hover {background-color: #ddd}

.main-header .dropdown:hover .dropdown-content {
    display: block;
}


/*...........................login.....................................*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-image: url("../img/rings_couple_wedding_silver_flowers_80327_1920x1080.jpg");
    overflow-x: hidden;
    transition: 0.5s;
    background-size: cover;
}

.overlay-content {
    position: relative;
    top: 14%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}
.overlay-content h3{
    font-family: Pacifico-Regular;
    font-size: 40px;
}

.overlay-content .login-content h4{
    font-family: Arsenal-Regular;
    font-size: 20px;
    margin-bottom: 20px;
}
.overlay-content .login-content input{
    padding: 7px 7px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 60%;
    font-family: Roboto-Light;
    position: relative;
}
.overlay-content .login-content .input-field{
    position: relative;
}
.overlay-content .login-content .input-field i{
    position: absolute;
    top: 10px;
    right: 144px;
}
.overlay-content .login-content button{
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #204d74;
    color: #ffffff;
    font-family: Arsenal-Regular;
    font-size: 20px;
}
.overlay-content .login-content .social-links i{
    font-size: 35px;
}
.overlay-content .login-content h5{
    font-family: Roboto-Light;
    font-size: 14px;
    color: #ffffff;
}
.overlay-content .login-content .social-links .fa-facebook-square{
    color: #204d74;
    padding-right: 20px;
}
.overlay-content .login-content .social-links .fa-google-plus-square{
    color: #e02828;
}
.overlay-content .login-content input:focus{
   outline: none;
}
.overlay .closebtn {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    /*display: block;*/
    transition: 0.3s;
}
.overlay-content .login-content span{
    font-family: Roboto-Light;
    color: #ffffff;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*..............................sign up................................*/
.signup-sec {
    background-image: url("../img/rings_couple_wedding_silver_flowers_80327_1920x1080.jpg");
    height: 95vh;
    background-size: cover;
}
.signup-content {

    width: 100%;
    text-align: center;
    margin-top: 145px;

}

.signup-sec h3{
    font-family: Pacifico-Regular;
    font-size: 40px;
}

.signup-sec .signup-content h4{
    font-family: Arsenal-Regular;
    font-size: 20px;
    margin-bottom: 20px;
}
.signup-sec .signup-content input{
    padding: 7px 7px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 60%;
    font-family: Roboto-Light;
    position: relative;
}
.signup-sec .signup-content .input-field{
    position: relative;
}
.signup-sec .signup-content .input-field i{
    position: absolute;
    top: 10px;
    right: 144px;
}
.signup-sec .signup-content button{
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #204d74;
    color: #ffffff;
    font-family: Arsenal-Regular;
    font-size: 20px;
}
.signup-sec .signup-content .social-links i{
    font-size: 35px;
}
.signup-sec .signup-content h5{
    font-family: Roboto-Light;
    font-size: 14px;
    color: #ffffff;
}
.signup-sec .signup-content .social-links .fa-facebook-square{
    color: #204d74;
    padding-right: 20px;
    z-index: 1000;
}
.signup-sec .signup-content .social-links .fa-google-plus-square{
    color: #e02828;
    z-index: 1000;
}
.signup-sec .signup-content input:focus{
    outline: none;
}

.signup-sec .signup-content span{
    font-family: Roboto-Light;
    color: #ffffff;
}
.signup-sec a:hover, .signup-sec a:focus {
    color: #f1f1f1;
}

/*..................................index page..............................................*/
.main-caro-sec .carousel-inner{
   position: relative;
}
.main-caro-sec .carousel-inner .caro-text{
    position: absolute;
     bottom: 20%;
    left: 33.33%;
    color: #ffffff;
    z-index: 10000;
    font-family: Arsenal-Regular;

}
.main-caro-sec .carousel-inner .caro-text h1{
    font-size: 40px;
}
.main-caro-sec .carousel-inner .caro-text h1 a{
    color: #ffffff;
    font-size: 45px;
}

.main-caro-sec .item img{
    filter: brightness(70%);
}
.main-caro-sec .carousel-inner .caro-text button{
    padding: 10px 20px;
    border: none;
    background: #204d74;
    color: #ffffff;
    font-family: Arsenal-Regular;
    font-size: 20px;
}
.main-caro-sec .carousel-inner .caro-text button:focus{
    outline: none;
}
/*.........................overview page...........................................................*/
.overview-sec{
    background: #f0f0f0;
    min-height: 100vh;
    padding: 20px 20px;
}
.overview-sec table{
    margin-top: 30px;
    font-family: Roboto-Light;
}
.overview-sec .overview-cont{
    background: #e2e2e2;
    padding: 20px 0px;
    margin-top: 20px;
}
.overview-sec .overview-cont h2{
    font-family: Arsenal-Regular;
}
.overview-sec .overview-cont .count-wrp p{
    font-family: Arsenal-Regular;
    font-size: 17px;
    padding-bottom: 0px;
}
.overview-sec .overview-cont .count-wrp .number{
    font-family: Arsenal-Regular;
    font-weight: 800;
    font-size: 35px;
}
.overview-sec .overview-cont .count-wrp{
    padding: 10px;
    text-align: center;
    background: #ffffff;
    border-radius: 7px;
    margin-left: 16px;
}
.overview-sec .overview-cont .count-wrp .add-btn{
    width: 100%;
    background: #43c4c5;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}
button:focus{
    outline: none;
}
a{
    text-decoration: none;
}
.overview-sec .overview-cont .count-wrp a{
    color: #ffffff;
    font-family: Roboto-Light;
    font-size: 18px;
    text-decoration: none;
}
.overview-sec .overview-cont .right-side{
    font-family: Arsenal-Regular;
    font-size: 17px;
    padding: 15px;
}
#fileupload-example-5 {
    font-family: Arsenal-Regular;
    position: relative;
    overflow: hidden;
    background: transparent;
    border: none;
    text-decoration: underline;
    color: #465086;
}

#fileupload-example-5 input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.001
}
.overview-sec .overview-cont .upload{
    background: transparent;
    border: none;
}
.upload-btn-wrapper input[type=file] {
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.overview-sec .overview-cont .upload-file {
    border: none;
    background: #2c8b8c;
    padding: 5px 10px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
}

/*............................................add new guest page.............................*/
.add-guest-sec{
    font-family: Arsenal-Regular;
    color: #838383;
    background: #f0f0f0;
    min-height: 100vh;
}
.add-guest-wrp{
    padding-top: 20px;
}
.add-guest-sec legend{
    color: #204d74;
}
.add-guest-sec h1{
    color: #43c4c5;
}
.add-guest-sec input{
    border: inherit;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #8bc5cc;
}
.add-guest-sec input:focus{
    outline: none;
}
.add-guest-sec .left-content input{
    width: 70%;
}
.add-guest-sec .input-wrp{
    margin-bottom: 10px;
    font-size: 18px;
}
.add-guest-sec .add-btn{
    padding: 10px 40px;
    color: #ffffff;
    background: #245580;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    margin-top: 20px;
    width: 50%;
}
.add-guest-sec .back-btn{
    padding: 5px 30px;
    font-size: 15px;
    background: #43c4c5;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}
.add-guest-sec button a{
    text-decoration: none;
    color: #ffffff;
}
/*.................................profile edit................................*/
.profile-edit-sec{
    background: #f0f0f0;
    min-height: 100vh;
    padding: 40px 90px;
    background: url("../img/rings_couple_wedding_silver_flowers_80327_1920x1080.jpg");
    background-size: cover;
}
.profile-edit-sec .form-sec{
    -webkit-box-shadow: 3px 10px 27px 10px rgba(168,168,168,1);
    -moz-box-shadow: 3px 10px 27px 10px rgba(168,168,168,1);
    box-shadow: 3px 10px 27px 10px rgb(83, 86, 105);
    padding: 30px;
    background:#f1faff;
    font-family: Roboto-Light;
}
.profile-edit-sec .form-sec h1{
    text-align: center;
    font-size: 45px;
    color: #43c4c5;
}
.profile-edit-sec input{
    border: inherit;
    padding: 7px;
    border-radius: 4px;
    width: 70%;
    border: 1px solid #8bc5cc;
}

.profile-edit-sec .left-content input{
    width: 70%;
}
.profile-edit-sec .input-wrp{
    margin-bottom: 10px;
    font-size: 16px;
}
.profile-edit-sec select{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #8bc5cc;
}
.profile-edit-sec .add-btn{
    padding: 10px 40px;
    color: #ffffff;
    background: #245580;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    margin-top: 20px;
    width: 50%;
}
.profile-edit-sec .back-btn{
    padding: 5px 30px;
    font-size: 15px;
    background: #43c4c5;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
.profile-edit-sec button a{
    text-decoration: none;
    color: #ffffff;
}
/*................................................e thank you card ..............................*/
.wedding-card-sec{
    background: #f0f0f0;
    min-height: 100vh;
    padding: 40px 90px;
    font-family: Arsenal-Regular;
    background: url("../img/rings_couple_wedding_silver_flowers_80327_1920x1080.jpg");
    background-size: cover;
}
.wedding-card-sec h1{
    color: #43c4c5;
    text-align: center;
}
.wedding-card-sec legend{
    color: #204d74;
}
.wedding-card-sec select{
    width: 15%;
    font-size: 15px;
    border: 1px solid #8bc5cc;
    border-radius: 5px;
    padding: 10px;

}
.wedding-card-sec input{
    width: 100%;
    font-size: 15px;
    border: 1px solid #8bc5cc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.wedding-card-sec textarea{
    font-size: 15px;
    border: 1px solid #8bc5cc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.wedding-card-sec span{
    font-size: 18px;
}
.wedding-card-sec a{
    margin-bottom: 20px;
}
.wedding-card-sec .form-wrp{
    -webkit-box-shadow: 3px 10px 27px 10px rgba(168,168,168,1);
    -moz-box-shadow: 3px 10px 27px 10px rgba(168,168,168,1);
    box-shadow: 3px 10px 27px 10px rgb(83, 86, 105);
    padding: 40px;
    background: #f1faff;
    font-family: Roboto-Light;
}
.wedding-card-sec button{
    padding: 10px 40px;
    color: #ffffff;
    background: #245580;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    margin-top: 20px;
    width: 20%;
    margin: auto;
    display: block;
}
.inputfile{
    width: 0.1px;
    height: 0.1px;

}
